body{
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm{
    margin: 20px;
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid rgba(15, 7, 7, 0.213);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: aqua;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type = "submit"]:hover{
    background-color: aqua;
}
.card{
    background:linear-gradient(180deg, rgb(111, 185, 237),rgb(255, 212, 132));
    padding: 50px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}
p{
    font-size: 1.5rem;
    margin: 5px 0;
}
.cityDisplay, .tempdisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: hsla(0, 14%, 5%, 0.51);
    margin-bottom: 20px;
}
.humitity{
    font-weight: bold;
    margin-bottom: 20px;
}
.desc{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}
.error{
    font-size: 2.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.74);
}